.app__blogpage {
    padding: 6rem 2rem 2rem;
}

button {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 1rem;
    padding: 0.65rem;
    margin: 1rem;
    font: var(--font-base);
    font-weight: 500;
    cursor: pointer;

    &:hover {
        background-color: white;
        color: var(--secondary-color);
    }
}